# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/

# Serverless directories
.serverless

.vscode/

key
node_modules/
package-lock.json
settings.py

papers.json
Elasticsearch-Kibana-Cognito.md